In [ ]:
import pandas as pd

In [ ]:
#  Creating DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Salary": [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000

In [ ]:
## Upload csv file
#  Read & Write
df = pd.read_csv("california_housing_test.csv") # Reading CSV

# You could save it to a new file like this (optional):
df.to_csv("output.csv", index=False) # Writing CSV

In [ ]:
# ---- Basic Info ----
print("--- Basic Info ---")
print("Head:\n", df.head(2))          # First 2 rows
print("\nTail:\n", df.tail(2))          # Last 2 rows
print("\nShape:", df.shape)             # (Rows, Columns)
print("\nColumns:", df.columns.tolist())# List of column names
print("\n--- Info ---")
df.info()                               # Summary of the DataFrame
print("\n--- Description ---")
print(df.describe())                    # Statistical summary

--- Basic Info ---
Head:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0

Tail:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

Shape: (3000, 9)

Columns: ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']

--- Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

--- Description ---
         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

In [ ]:
# ---- Selection & Indexing ----
print("\n--- Selection & Indexing ---")
# Select a single column (e.g., total_rooms)
print("\nSingle Column (total_rooms):\n", df["total_rooms"].head())

# Select multiple columns
print("\nMultiple Columns:\n", df[["housing_median_age", "median_house_value"]].head())

# Select a row by its integer position (e.g., the second row)
print("\nRow by Index (iloc[1]):\n", df.iloc[1])

# Select a row by its index label (e.g., the row with index 2)
print("\nRow by Label (loc[2]):\n", df.loc[2])

# Select a specific cell [row=2, column='median_house_value']
print("\nCell [row=2, col='median_house_value']:", df.loc[2, "median_house_value"])

--- Selection & Indexing ---

Single Column (total_rooms):
 0    3885.0
1    1510.0
2    3589.0
3      67.0
4    1241.0
Name: total_rooms, dtype: float64

Multiple Columns:
    housing_median_age  median_house_value
0                45.0            344700.0
1                43.0            176500.0
2                27.0            270500.0
3                28.0            330000.0
4                19.0             81700.0

Row by Index (iloc[1]):
 longitude               -118.300
latitude                  34.260
housing_median_age        43.000
total_rooms             1510.000
total_bedrooms           310.000
population               809.000
households               277.000
median_income              3.599
median_house_value    176500.000
Name: 1, dtype: float64

Row by Label (loc[2]):
 longitude               -117.8100
latitude                  33.7800
housing_median_age        27.0000
total_rooms             3589.0000
total_bedrooms           507.0000
population              1484.0000
households               495.0000
median_income              5.7934
median_house_value    270500.0000
Name: 2, dtype: float64

Cell [row=2, col='median_house_value']: 270500.0

In [ ]:
#  Filtering
# Filter for houses older than 50 years
print("\nHouses with median_age > 50:\n", df[df["housing_median_age"] > 50].head())

# Filter for houses with a value between $150k and $200k
value_filter = (df["median_house_value"] >= 150000) & (df["median_house_value"] <= 200000)
print("\nHouses with value between 150k & 200k:\n", df[value_filter].head())

Houses with median_age > 50:
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
26     -122.42     37.76                52.0       3587.0          1030.0
36     -122.53     37.97                52.0       1560.0           451.0
70     -121.92     37.33                52.0       2125.0           382.0
99     -118.20     33.77                52.0       1375.0           457.0
109    -122.43     37.74                52.0       1514.0           314.0

     population  households  median_income  median_house_value
26       2259.0       979.0         2.5403            250000.0
36        700.0       419.0         2.5125            270800.0
70        930.0       387.0         5.2831            299500.0
99       1089.0       317.0         2.2344            200000.0
109       724.0       301.0         5.3292            300900.0

Houses with value between 150k & 200k:
     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1     -118.30     34.26                43.0       1510.0           310.0
7     -120.65     35.48                19.0       2310.0           471.0
8     -122.84     38.40                15.0       3080.0           617.0
9     -118.02     34.08                31.0       2402.0           632.0
15    -117.99     33.81                42.0        161.0            40.0

    population  households  median_income  median_house_value
1        809.0       277.0         3.5990            176500.0
7       1341.0       441.0         3.2250            166900.0
8       1446.0       599.0         3.6696            194400.0
9       2830.0       603.0         2.3333            164200.0
15       157.0        50.0         2.2000            153100.0

In [ ]:
#  Adding & Modifying
# Let's change the 'housing_median_age' for the first row (index 0) to 45
df.loc[0, "housing_median_age"] = 45
print("\nModified DataFrame (new column and changed value):\n", df.head())

Modified DataFrame (new column and changed value):
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                45.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [ ]:
#  Sorting
# Sort by population in ascending order
print("\nSort by Population:\n", df.sort_values(by="population").head())

# Sort by median house value in descending order
print("\nSort by Median House Value (Descending):\n", df.sort_values(by="median_house_value", ascending=False).head())

Sort by Population:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2640    -114.62     33.62                26.0         18.0             3.0
740     -117.12     32.66                52.0         16.0             4.0
1115    -116.95     33.86                 1.0          6.0             2.0
1355    -117.11     32.66                52.0         25.0             5.0
2494    -118.44     34.04                49.0         32.0             7.0

      population  households  median_income  median_house_value
2640         5.0         3.0         0.5360            275000.0
740          8.0         3.0         1.1250             60000.0
1115         8.0         2.0         1.6250             55000.0
1355        14.0         9.0         1.6250            118800.0
2494        14.0         7.0         2.1875            225000.0

Sort by Median House Value (Descending):
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2968    -119.23     34.17                18.0       6171.0          1490.0
686     -122.00     37.86                18.0       8953.0          1074.0
702     -121.81     36.57                13.0       3030.0           413.0
389     -121.88     37.46                 5.0       1819.0           245.0
382     -118.36     33.80                38.0       2553.0           400.0

      population  households  median_income  median_house_value
2968      2164.0      1210.0         3.6875            500001.0
686       3011.0       993.0        10.7372            500001.0
702       1027.0       363.0         6.9615            500001.0
389        802.0       228.0        10.9722            500001.0
382       1042.0       393.0         6.9742            500001.0

In [ ]:
#  GroupBy & Aggregation
grouped = df.groupby("total_rooms")["median_house_value"].mean()
print("\nAverage house value by total rooms:\n", grouped)

# Calculate the median population for each 'total_rooms' category
agg_funcs = {
    'population': 'median',
    'median_house_value': 'mean'
}
grouped_agg = df.groupby('total_rooms').agg(agg_funcs)
print("\nAggregate\n", grouped_agg)

Average house value by total rooms:
 total_rooms
6.0         55000.0
16.0        60000.0
18.0       275000.0
19.0       162500.0
21.0       175000.0
             ...
21988.0    191100.0
23915.0    244900.0
24121.0    239300.0
27870.0    212200.0
30450.0    174300.0
Name: median_house_value, Length: 2215, dtype: float64

Aggregate
              population  median_house_value
total_rooms
6.0                 8.0             55000.0
16.0                8.0             60000.0
18.0                5.0            275000.0
19.0              166.0            162500.0
21.0               21.0            175000.0
...                 ...                 ...
21988.0          8824.0            191100.0
23915.0         10877.0            244900.0
24121.0          4176.0            239300.0
27870.0         11935.0            212200.0
30450.0          9419.0            174300.0

[2215 rows x 2 columns]

In [ ]:
#  Handling Missing Values: computational errors, biased results, and poor model performance.
df2 = pd.DataFrame({
    "Name": ["Eve", "Frank", None],
    "Age": [28, None, 40],
    "Salary": [55000, 62000, None]
})
print("Original DataFrame with Missing Values:\n", df2)

# Drop rows with any missing values
print("\nDrop NaN:\n", df2.dropna())

# Fill missing values with specified defaults
fill_values = {"Age": df2["Age"].median(), "Salary": df2["Salary"].mean(), "Name": "Unknown"}
print("\nFill NaN:\n", df2.fillna(value=fill_values))

Original DataFrame with Missing Values:
     Name   Age   Salary
0    Eve  28.0  55000.0
1  Frank   NaN  62000.0
2   None  40.0      NaN

Drop NaN:
   Name   Age   Salary
0  Eve  28.0  55000.0

Fill NaN:
       Name   Age   Salary
0      Eve  28.0  55000.0
1    Frank  34.0  62000.0
2  Unknown  40.0  58500.0

In [ ]:
#  Merging & Joining
df_a = pd.DataFrame({"ID": [1, 2, 3], "Name": ["Alice", "Bob", "Charlie"]})
df_b = pd.DataFrame({"ID": [1, 2, 3], "Dept": ["HR", "IT", "Finance"]})

merged = pd.merge(df_a, df_b, on="ID")#merged according to ID
print("Merged DataFrame:\n", merged)

Merged DataFrame:
    ID     Name     Dept
0   1    Alice       HR
1   2      Bob       IT
2   3  Charlie  Finance